@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700);
*  				{ font-family: 'lato', sans-serif; margin:0; padding: 0; }
.clear 			{ clear:both; }
.transition 	{ -o-transition:.2s; -ms-transition:.2s; -moz-transition:.2s; -webkit-transition:.2s; transition:.2s; }
.leftFloat      { float:left; }
.rightFloat 	{ float:right; }

html, body	 	{ margin:0; padding:0; height:100%; background:#fff; position:relative;  }

#wrapper 		{ min-height:100%; position:relative; overflow:auto; padding-top:80px; }
#blackout 		{ position:fixed; width:100%; height:100%; z-index:998; background:rgba(0, 0, 0, 0.7); display:none; }
.disabledLink 	{ pointer-events: none; }
// Alerts / Flash messages
.alert 	{
	position:fixed;
	top:100px;
	right:0;
	height:30px;
	border-left:3px solid #ccc;
	background:#222;
	color:#ededed;
	line-height:30px;
	padding:0 6px;
	font-weight:300;
	z-index:999;
}
.success-alert {
	border-left:3px solid #22d14b;
}
.error-alert {
	border-left:3px solid #ed5555;
}
.info-alert {
	border-left:3px solid #ced600;
}

@import "normalize.less";
@import "materialize.min.less"; 
@import "header.less";
@import "dealership.less";
@import "garage.less";