.flash-car {
	height:45px;
	margin:0;
	padding:0;
	line-height:45px;
	text-indent:8px;
}
table#garage {
	width:100%;
	margin:20px 0 0 0;
	tr {
		height:50px;
		border-bottom:1px solid #ededed;
		td {
			padding:0;
		}
		td.car-image {
			height:50px;
			width:50px;
			padding:0px;
			box-sizing: border-box;
			border-radius:0;
			img {
				height:50px;
				padding:5px;
			}
		}

		td.car-popularity, td.car-category {
			color:#666;
			width:50px;
			font-weight:300;
			text-align: center;
		}
		td.car-hours {
			width:100px;
			backgorund:#ededed;
			.car-hours-container {
				width:100%;
				height:10px;
				border-radius: 5px;
				background:#ededed;
				overflow:hidden;
				box-shadow: inset 1px 1px 10px #c4c4c4;
				.car-hours-filler {
					background:#84C875;
					height:10px;
				}
				.car-hours-filler-full {
					background:#FF7777;
					width:100%;
				}
			}
		}
		td.car-name {
			font-weight:300;
			color:#444;
			i {
				color:#888;
				font-size:14px;
			}
			small {
				color:#2196f3;
				padding-left:10px;
			}
		}
		td.car-price {
			color:#444;
			font-weight:300;
			text-align:center;
			small {
				color:#888;
			}
		}
		td.car-maintenance {
			text-align: center;
			width:50px;
			color:#888;
			font-size:13px;
			i.danger-fa {
				color:#FF7777;
			}
			i.success-fa {
				color:#84C875;
			}
			i.meh-fa {
				color:#E8CC00;
			}
			a {
				color:#2196f3;
			}
			a:hover {
				text-decoration: underline;
			}
		}
		td.car-parked {
			width:120px;
			text-align: center;
			color:#888;
			font-size:12px;
			i {
				color:#666;
				font-size:13px;
			}
			a.rent_link {
				display:block;
				height:35px;
				line-height: 35px;
				width:80px;
				text-align: center;
				margin:0 auto;
				background:#2196f3;
				border-radius:6px;
				color:#fff;

				i {
					color:#ededed;
					margin-right:2px;
				}
			}
			a.rent_link:hover {
				opacity:0.8;
			}
		}
		td.single-car:hover {
			color:#7abcff;
			cursor: pointer;
		}

		th {
			color:#444;
		}
		td.center-align {
			text-align:center;
		}
	}
	tr:first-child {
		border-top:1px solid #ededed;
	}

	tr:hover {
		background:#f8f8f8;
	}
}
ul.pagination {
	margin:10px;
	li.active {
		background:#2196f3;
		color:#fff;
		font-weight:300;
	}
}